<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script th:src="@{/echars/echarts.min.js}" ></script>
    <script th:src="@{/echars/china.js}"></script>
    <script th:src="@{/echars/jquery-1.11.1.min.js}"></script>
</head>
<body>
<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 900px;height:700px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    const myChart = echarts.init(document.getElementById('main'));
    const dataList = [];
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },

        yAxis: [
            {
                type: 'value'
            }
        ],

    };
    $.ajax({
        url:"/querybar",
        dataType:"json",
        success: function (data) {

            myChart.setOption({
                xAxis: [
                    {
                        type: 'category',
                        data: data.cityList,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                series: [
                    {
                        name: 'Direct',
                        type: 'bar',
                        barWidth: '60%',
                        data: data.valueList,
                    }
                ]
            })
        }
    })
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>